*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
/*-------------------- ABSTRACTS ----------------- */
/*------------------------------------------------ */
/*------------ variables ---------- */
/*------------------------------------------------ */
:root {
  --nav-bg: #2e323f;
  --dk-section-bg: #3b4050;
  --lt-section-bg: #f0f1f5;
  --gray-text: #6f737f;
  --white: #ffffff;
  --taupe: #a59678;
}
/*------------------------------------------------ */
/*--------------------- BASE --------------------- */
/*------------------------------------------------ */
/*------------ typography --------- */
/*------------------------------------------------ */
html {
  /*--1rem = 10px--*/
  font-size: 62.5%;
}
h1 {
  font-size: 6rem;
  color: var(--white);
}
.title--emp {
  color: var(--taupe);
}
h2 {
  font-size: 3.6rem;
}
h3,
.pillars__item--title,
.guide__steps--title {
  font-size: 3rem;
}
h4,
.title__info {
  font-size: 2.4rem;
}
.guide__description--info,
.more-info__company--title,
.nav__f--title {
  font-size: 2.1rem;
}
.nav__item,
.pillars__item--info,
.guide__steps--info {
  font-size: 1.8rem;
}
.more-info__company--info,
.nav__f--link {
  font-size: 1.6rem;
}
body {
  font-family: "Oswald", sans-serif;
}
.title__info--info,
.pillars__item--info,
.guide__description--info,
.guide__steps--info,
.more-info__company--info,
.nav__f--link {
  font-family: "Montserrat", sans-serif;
}

/*------------------------------------------------ */
/*------------ utilities ---------- */
/*------------------------------------------------ */
.container {
  width: clamp(250px, 80%, 1200px);
  margin: 0 auto;
  /* border: 1px solid red; */
}
.padding {
  padding: 4em 0;
}

/*------------------------------------------------ */
/*-------------------- COMPONENTS ---------------- */
/*------------------------------------------------ */
/*------------ button ------------- */
/*------------------------------------------------ */
.button {
  color: var(--white);
  background-color: var(--taupe);
  text-align: center;
  border-radius: 5em;
  padding: 0.2em 1.1em;

  text-transform: uppercase;
  display: inline-block;
}
/*------------------------------------------------ */
/*-------------------- LAYOUT -------------------- */
/*------------------------------------------------ */

/*------------ columns & rows ----- */
/*------------------------------------------------ */

/*------------------------------------------------ */
/*------------ header/nav --------- */
.header {
  background-color: var(--nav-bg);
  height: auto;
  letter-spacing: 0.2em;
}
.nav-row {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.logo {
  padding-top: 1.75em;
}
.nav__list {
  /* width: 100%; */
  list-style-type: none;
}

.nav__list--primary {
  display: flex;
  justify-content: space-between;
}
.nav__list--secondary {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
}
.nav__item + .nav__item {
  margin-left: 3em;
}
.nav__link {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}
/*---------------------------------------- */
/*------------ title section ------------- */
.title {
  background-color: var(--dk-section-bg);
  padding: 5em 0 7em 0;
}
.title__row {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.title__heading {
  width: 50%;
}
.title__info {
  width: 50%;
  align-self: center;
  margin-left: 2em;
}
.title__info--info {
  color: var(--taupe);
  margin-bottom: 1.6em;
}

/*---------------------------------------- */
/*------------ pillars section ------------- */
.pillars {
  background-color: var(--lt-section-bg);
}
.pillars__item {
  text-align: center;
  padding-bottom: 2em;
  margin: 0 2em 0 2em;
}
.pillars__item--title {
  color: var(--taupe);
}
/*---------------------------------------- */
/*------------ guide section ------------- */
.guide {
  padding-top: 3em;
}
.guide__description--title {
  color: var(--taupe);
  margin-bottom: 0.3em;
  /* border-top: 0.3em ridge var(--dk-section-bg);
  border-bottom: 0.3em ridge var(--dk-section-bg);
  text-align: center;
  text-transform: uppercase; */
}
.guide__description--info {
  margin-bottom: 1.5em;
}
.guide__description--img {
  margin-bottom: 2em;
}
.guide__steps--item {
  background-color: var(--dk-section-bg);
  color: var(--white);
  margin: 4em 0;
  padding: 3em;
  text-align: center;
}
.guide__steps--title {
  margin-bottom: 0.5em;
}
.guide__steps--info {
  padding-bottom: 1em;
}
/*---------------------------------------- */
/*------------ more-info section ------------- */
.more-info {
  background-color: var(--dk-section-bg);
}
.more-info__title {
  color: var(--white);
  text-align: center;
  margin-bottom: 1em;
}
.more-info__company--title {
  color: var(--taupe);
  text-align: center;
  padding-bottom: 0.5em;
}
.more-info__company--info {
  color: var(--gray-text);
  margin: auto;
  text-align: center;
  max-width: 80%;
}
.nav__footer {
  display: flex;
  justify-content: space-around;
}
.nav__f--list {
  list-style-type: none;
}
.nav__f--li {
  padding-bottom: 0.5em;
}
.nav__f--link {
  text-decoration: none;
  color: var(--gray-text);
}
.nav__f--title {
  color: var(--taupe);
}
/*------------------------------------------------ */
/*-------------------- MEDIA QUERIES ------------- */
/*------------------------------------------------ */
@media (min-width: 43.75em) {
  h1 {
    font-size: 7.5rem;
  }
  .left-margin {
    margin-left: 1.5em;
  }
  .sm-button {
    margin-top: -0.4em;
  }
  .guide__description--title {
    text-align: left;
    border-top: none;
    border-bottom: none;
  }
  .guide__steps {
    display: flex;
  }
  .guide__steps--item {
    margin: 3em 2em;
  }
}
@media (min-width: 62.5em) {
  .nav {
    display: flex;
  }
  .logo {
    padding-top: 0;
  }
  .nav__list--primary {
    justify-content: flex-end;
  }
  .nav__list--secondary {
    padding-top: 0;
    justify-content: flex-end;
    margin-left: 5em;
  }
  h1 {
    font-size: 9rem;
  }
  .pillars__list {
    display: flex;
  }
  .guide__row {
    display: flex;
  }
  .guide__description {
    width: 60%;
  }
  .guide__steps {
    width: 40%;
    flex-direction: column;
    margin-left: 3em;
  }
  .more-info__row {
    width: 100%;
    display: flex;
    /* align-items: center; */
  }
  .more-info__company {
    width: 40%;
  }
  .nav__footer {
    width: 60%;
  }
  .more-info__company--title {
    text-align: left;
  }
  .more-info__company--info {
    text-align: left;
    max-width: 100%;
    margin-right: 1.5em;
  }
}
